<button type="button" class="btn btn-outline-secondary button-back"><a href="/home">Kembali</a></button>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-list" style="width: 18rem;">
        <img src="/image/list1067506100_1434741880-Cabai-Naik-2.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Jelang Akhir Bulan, Harga Cabai di Pasar Tradisional Terus Meroket</h5>
          <p class="card-text">Harga komoditas ini nampaknya terus melambung. Harga cabai tetap bertahan di angka...</p>
          <a href="#" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-list" style="width: 18rem;">
        <img src="/image/list2095012200_1528693666-harga_daging_ayam.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Harga Ayam dan Telur Stabil Awal Pekan Ini</h5>
          <p class="card-text">Sebelumnya, daging ayam memang dijual Rp 28 ribu per kgnya, dan naik Rp 6.000 menjadi Rp 34 ribu per kgnya...</p>
          <a href="#" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-list" style="width: 18rem;">
        <img src="/image/list3011653700_1552016374-oppo_25_673x373.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Generasi Milenial Diminta Bijak Gunakan Internet</h5>
          <p class="card-text">Karakter generasi milenial saat menjadi sorotan utama dalam pembangunan komunikasi dan informasi.</p>
          <a href="#" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-list" style="width: 18rem;">
        <img src="/image/list4ilustrasi-emas-rupiah-140723-andri.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nasib Harga Emas Pekan Ini Tergantung Bank Sentral AS</h5>
          <p class="card-text">Nasib harga emas pada pekan depan tergantung keputusan Federal Reserve atau Bank...</p>
          <a href="#" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-list" style="width: 18rem;">
        <img src="/image/list5018145100_1434517019-Bagaimana_sudut_pandang_orang-orang_terkaya_dunia_soal_uang.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tips Jitu Raih Sukses Finansial di Masa Depan</h5>
          <p class="card-text">Tips pertama demi bisa mencapai kesuksesan di masa depan yaitu dengan mengenali diri Anda sendiri.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-list" style="width: 18rem;">
        <img src="/image/list6021823400_1498020574-Arab_Saudi_Mohammed_bin_Salman.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Terkuak, Pangeran Arab Saudi Ingin Investasi Alkohol dan Taksi Terbang</h5>
          <p class="card-text">Pangeran Arab Saudi, Mohammed bin Salman (MbS) tertarik pada taksi terbang dan alkohol?</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
