<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Intern News</a>
  <a class="navbar-brand" href="/">Category</a>
</nav>

<div class="card-deck">
  <div class="card" style=" max-width: 400px; height: 400px">
    <img src="/image/d.jpg" class="card-img-top" style="height: 210px;">
    <div class="card-body">
      <a href="/article/1" class="stretched-link">
        <p class="card-text">Face++ & FaceID - Peluang Perkembangan Teknologi Pengenal Wajah (Face Recognition) di Indonesia dan Dunia Tahun 2024 Mendatang</p>
        <p class="card-text">
          <small class="text-muted">Jul 2019 14:58:53</small>
        </p>
      </div>
    </div>
    <div class="card" style=" max-width: 400px; height: 400px">
      <img src="/image/e.jpg" class="card-img-top" style="height: 210px;">
      <div class="card-body">
        <a href="/article/1" class="stretched-link">
          <p class="card-text">LianLian Pay- Melihat Lanskap Pasar Transaksi Elektronik bagi UMKM di Asia Pasifik 2019</p>
          <p class="card-text">
            <small class="text-muted">by A.R WICAKSONO19 Jul 2019 14:44:11</small>
          </p>
        </div>
      </div>
      <div class="card" style=" max-width: 400px; height: 400px">
        <img src="/image/l.jpg" class="card-img-top" style="height: 210px;">
        <div class="card-body">
          <a href="/article/1" class="stretched-link">
            <p class="card-text">Mengenal Teknologi Cloud Computing bagi keunggulan bisnis Anda</p>
            <p class="card-text">
              <small class="text-muted">by A.R WICAKSONO30 Mar 2019 07:46:57</small>
            </p>
          </div>
        </div>
        <div class="card" style=" max-width: 400px; height: 400px">
          <img src="/image/m.jpg" class="card-img-top" style="height: 210px;">
          <div class="card-body">
            <a href="/article/1" class="stretched-link">
              <p class="card-text">Reverensi dalam pembuatan web-News Portal</p>
              <p class="card-text">
                <small class="text-muted">by: nrlsyffa 09 Aug 2019 08:41:06</small>
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="card-deck">
          <div class="card" style=" max-width: 400px; height: 400px">
            <img src="/image/k.jpg" class="card-img-top" style="height: 210px;">
            <div class="card-body">
              <a href="/article/1" class="stretched-link">
                <p class="card-text">Mengenal sosok Elon Musk sebagai Billionaire dan Revolusioner Industri-Teknologi Abad-21</p>
                <p class="card-text">
                  <small class="text-muted">by A.R WICAKSONO27 Mar 2019 14:14:15
                  </small>
                </p>
              </div>
            </div>
            <div class="card" style=" max-width: 400px; height: 400px">
              <img src="/image/j.jpg" class="card-img-top" style="height: 210px;">
              <div class="card-body">
                <a href="/article/1" class="stretched-link">
                  <p class="card-text">Anantarupa: Tantangan studio game developer di Indonesia</p>
                  <p class="card-text">
                    <small class="text-muted">by ZEINTRINANDA23 Jul 2019 12:10:47
                    </small>
                  </p>
                </div>
              </div>
              <div class="card" style=" max-width: 400px; height: 400px">
                <img src="/image/d.jpg" class="card-img-top" style="height: 210px;">
                <div class="card-body">
                  <a href="/article/1" class="stretched-link">
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
                <div class="card" style=" max-width: 400px; height: 400px">
                  <img src="/image/d.jpg" class="card-img-top" style="height: 210px;">
                  <div class="card-body">
                    <a href="/article/1" class="stretched-link">
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                    </div>
                  </div>
                </div>
