<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Intern News</a>
  <a class="middle" href="/category">Knowledge</a>
</nav>

<div class="card-deck">
<div class="card" style=" max-width: 420px; height: 400px">
<img src="/image/d.jpg" class="card-img-top" alt="/image/.jpg"  style="height: 210px;">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card" style=" max-width: 420px; height: 400px">
<img src="/image/fotooo.jpg" class="card-img-top" alt="/image/fotooo.jpg"  style="height: 210px;">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card" style=" max-width: 420px; height: 400px">
<img src="/image/e.jpg" class="card-img-top" alt="/image/e.jpg"  style="height: 210px;">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
</div>
<div class="card-deck">
  <div class="card" style=" max-width: 420px; height: 400px">
    <img src="/image/foto.jpg" class="card-img-top" alt="/image/foto.jpg"  style="height: 210px;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" style=" max-width: 420px; height: 400px">
    <img src="/image/h.jpg" class="card-img-top" alt="/image/h.jpg" style="height: 210px;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" style=" max-width: 420px; height: 400px">
    <img src="/image/g.jpg" class="card-img-top" alt="/image/g.jpg" style="height: 21px;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
7d6c4f45a9eca4395d4de606ddcfead94ef1d4df
