<a class="navbar-brand" href="#">
  <img src="/image/dash.jpg" width="100" height="100" > Wellcode Global
</a>
<footer class="blockquote-footer">Hallo.....<cite title="Source Title">Admin</cite></footer>
<nav class="navbar navbar-light bg-light">
  <div class="text-center">TAMBAH ARTIKEL</div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="row">
<div class="col-3">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" href="/admin/">DASHBOARD</a>
  <div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ARTICLE </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Tambah Article</a>
      <a class="dropdown-item" href="#">Data Article</a>
    </div>
  </div>
  <a class="nav-link" href="/admin/categories/new">KATEGORY</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">SETTINGS</a>
</div>
</div>

</div>
    <div class="col-sm-9">
      <form>
          <div class="form-group">
          <label for="exampleInputEmail1">Judul :</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

    <div class="col-sm-12">
      <form>
          <div class="form-group">
          <label for="exampleFormControlTextarea1">Teks :</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
<a class="btn btn-danger" href="/admin/articles" role="button">Batal</a>
<a class="btn btn-primary" href="/admin/articles" role="button">Kirim</a>
        </div>
    </div>
</div>
