
    <a class="navbar-brand" href="#">
      <img src="/image/dash.jpg" width="100" height="100" > Wellcode Global
    </a>
    <footer class="blockquote-footer">Hallo.....<cite title="Source Title">Admin</cite></footer>
    <nav class="navbar navbar-light bg-light">
      <div class="text-center">Halaman Dashboard</div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/admin/" role="tab" aria-controls="v-pills-home" aria-selected="true">DASHBOARD</a>
      <a class="nav-link" href="/admin/articles">ARTICLE</a>
      <a class="nav-link" href="/admin/categories">KATEGORY</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">SETTINGS</a>
    </div>
  </div>
</div>
<div class="col-sm-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Article</h5>
      <p class="card-text">a software engineering company, which serves the community with revolutionary products, system development, and information technology infrastructure in order to develop their creative ideas to be more economically valuable.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kategori</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hastag</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
</nav>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

      <a class="page-link" href="#">Add New</a>

  </ul>
</nav>
