<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Intern News</a>
  <a class="navbar-brand" href="/">Popular</a>
  <a class="navbar-brand" href="/">Recommend</a>
</nav>
<div class="container" style="mx: 5;">
  <div class="row card-home">
    <div class="col">
      <div class="card bg-light mb-3" " style=" max-width:="max-width:" 540px;="540px;" height:="height:" 250px"="250px"">
        <img src="/image/fotoo.jpg" style="height: 175px;">
        <div class="card-body">
          <a href="/category/1" class="stretched-link">
            <h5 class="card-title">Knowledge</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card bg-light mb-3" " style=" max-width:="max-width:" 540px;="540px;" height:="height:" 250px"="250px"">
        <img src="/image/satuu.jpg" style="height: 175px;">
        <div class="card-body">
          <a href="/category/1" class="stretched-link">
            <h5 class="card-title">Business</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light mb-3" " style=" max-width:="max-width:" 540px;="540px;" height:="height:" 250px"="250px"">
        <img src="/image/i.jpg" style="height: 175px;">
        <div class="card-body">
          <a href="/category/1" class="stretched-link">
            <h5 class="card-title">Technology</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 img-home">
      <img style="height: 55%; width: 70%; display: block;" src="/image/b.jpg" alt="Card image"><br>
      <h5 class="card-title">
        <a href="/artikel">Kolaborasi Wellcode.io – Telkomsel, Telkom Indonesia, Blanja.com dan eBay</a>
      </h5>
      <p class="card-text">
<<<<<<< HEAD
=======
           Wellcode.io Team<br>
           Leading high-tech Indonesia Startup Digital - which serves the community with revolutionary products, system development, and information technology infrastructure</br>
>>>>>>> 7d6c4f45a9eca4395d4de606ddcfead94ef1d4df
        <small class="text-muted">by A.R WICAKSONO03 Aug 2019 06:44:45.</small>
      </p>
    </div>
    <div class="col-4">
      <h5>POPULAR</h5>
      <div class="card mb-3" style="max-width: 540px;"></div>
      <div class="row no-gutters"></div>
      <div class="col-md-4"></div>
      <img src="/image/c.jpg" class="card-img" alt="/c.jpg">
      <p class="card-text">
        <a href="/artikel">Wellcode.io – MWC 19 Shanghai - China; Wellcode.io Dedikasi Pengembangan Teknologi untuk Indonesia</p>
        <p class="card-text">
          <small class="text-muted">by A.R WICAKSONO19 Jul 2019 15:10:24</small>
        </p>
        <div class="row no-gutters"></div>
        <div class="col-md-4"></div>
        <img src="/image/f.jpg" class="card-img" alt="/f.jpg">
        <p class="card-text">
          <a href="/artikel">Wellcode.io – Malaysia Digital Economy Corporation (MDEC); Belajar mendorong Ekonomi Digital dari Malaysia.</p>
          <p class="card-text">
            <small class="text-muted">by A.R WICAKSONO19 Jul 2019 14:31:23</small>
          </p>
        </div>
        <div class="card-group">
<<<<<<< HEAD
          <div class="card" " style=" max-width:="max-width:" 540px;="540px;" height:="height:" 250px"="250px">
            <img src="/image/h.jpg" class="card-img-top" alt="/h.jpg" style="height: 175px;">>
=======
          <div class="card" style=" max-width: 540px; height: 480px">
            <img src="/image/h.jpg" class="card-img-top" alt="/h.jpg" style="height: 275px;">
>>>>>>> 7d6c4f45a9eca4395d4de606ddcfead94ef1d4df
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
<<<<<<< HEAD
          <div class="card"" style=" max-width:="max-width:" 540px;="540px;" height:="height:" 250px"="250px">
            <img src="/image/fotoooo.jpg" class="card-img-top" alt="/fotoooo.jpg" style="height: 175px;">>
=======
          <div class="card"style=" max-width: 540px; height: 480px">
            <img src="/image/fotoooo.jpg" class="card-img-top" alt="/fotoooo.jpg" style="height: 275px;">
>>>>>>> 7d6c4f45a9eca4395d4de606ddcfead94ef1d4df
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
<<<<<<< HEAD
          <div class="card" " style=" max-width:="max-width:" 540px;="540px;" height:="height:" 250px"="250px">
            <img src="/image/g.jpg" class="card-img-top" alt="/g.jpg" style="height: 175px;">>
=======
          <div class="card" style=" max-width: 540px; height: 480px">
            <img src="/image/g.jpg" class="card-img-top" alt="/g.jpg" style="height: 275px;">
>>>>>>> 7d6c4f45a9eca4395d4de606ddcfead94ef1d4df
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
