<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Intern-News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Intern-News <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/navbar">Popular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/navbar">Recommend</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8 img-home">
      <img style="height: 75%; width: 80%; display: block;" src="/image/gambar1.jpg" alt="Card image"><br>
      <h5 class="card-title"><a href="/artikel">Diteror Perampok Bersenjata, Mesut Ozil Dilindungi Sead Kolasinac</a></h5>
        <p class="card-text">Dua pemain Arsenal, Sead Kolasinac dan Mesut Ozil diteror perampok bersenjata saat berada di London.</p>
    </div>
    <div class="col-4">
      <h5>TOPIK HARI INI</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">#LIBURANINSPIRASIRWS</a></li>
        <li class="list-group-item"><a href="#">#SHOPEE LIGA 1</a></li>
        <li class="list-group-item"><a href="#">#GUNUNG TANGKUBAN PARAHU ERUPSI</a></li>
        <li class="list-group-item"><a href="#">#PIALA AFF U-15</a></li>
        <li class="list-group-item"><a href="#">#GIIAS 2019</a></li>
        <li class="list-group-item"><a href="#">#SUSUNAN KABINET JOKOWI</a></li>
        <li class="list-group-item"><a href="#">#JICOMFEST2019</a></li>
      </ul>
    </div>
  </div>
  <div class="row card-home">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/image/002246000_1563272950-20190716-Wajah-Semringah-Baiq-Nuril-Usai-Putusan-Rapat-Bamus-DPR1.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Jokowi Teken Keppres Amnesti Baiq Nuril</h5>
          <a href="/post" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/image/011388300_1557826870-IMG_8962_DPRD_minta_Anies.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">DPRD DKI Minta Anies Sediakan Kantong Daging Kurban Ramah Lingkungan</h5>
          <a href="/post" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/image/052049000_1564330233-_MG_2734_Kata_Gloria_Soal_Polemik_Paskibraka.webp" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kata Gloria Soal Polemik Paskibraka Nasional 2019 Putri Bercelana Panjang</h5>
          <a href="/post" class="btn btn-primary stretched-link">show</a>
        </div>
      </div>
    </div>
  </div>
</div>
