<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/index">Intern News</a>
    <a class="nav-item active" href="/category">Business</a>
  </nav>
<div class="container">
  <div class="main">
  <div class="row">
    <figcaption class="figure-caption text-right">Diterbitkan 15.28, 08/08/2019</figcaption>
    <figure class="figure">
      <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src=https://www.youtube.com/embed/watch?v=FGMaD4By3yU&t=264s" allowfullscreen></iframe>
  </div>
      <figcaption class="figure-caption text-right">Presiden Joko Widodo atau Jokowi. Twitter/@jokowi</figcaption>
    </figure>

    </div>
    <div class="col-md-8">
      <h1>Jawab Megawati soal Menteri, Jokowi: Kalau PDIP Dapat 4, yang Lain 2, Kan Udah Banyak</h1>
      <div class="text-justify">
      <p>TEMPO.CO, Bali - Presiden Joko Widodo atau Jokowi menjawab permintaan Ketua Umum PDIP Megawati Soekarnoputri soal jatah menteri paling banyak untuk partai berlambang banteng itu. Megawati menyebut dirinya emoh jika PDIP hanya mendapat jatah empat menteri.</p>

"Mengenai menteri, tadi ibu Mega menyampaikan jangan empat dong. Tapi kalau yang lain dua, PDIP empat, kan udah banyak, dua kali (lipat)," ujar Jokowi ketika memberi sambutan di acara pembukaan Grand Inna Bali Beach Hotel, Sanur, Bali, Kamis, 8 Agustus 2019.</p>
"Kalau yang lain 3, PDIP belum tentu juga (enam)," ujar Jokowi melanjutkan.
Menurut Jokowi, dirinya tak bisa mengungkap berapa jumlah menteri untuk PDIP. Yang jelas, ujar dia, PDIP pasti mendapat menteri terbanyak dari partai-partai Koalisi Indonesia Kerja (KIK) lainnya. "Yang pasti PDIP yang terbanyak. Itu jaminan saya," ujar Jokowi.</p>

Sebelumnya, di lokasi yang sama, Megawati blak-blakan meminta Jokowi memberi jatah menteri paling banyak untuk partainya di kabinet mendatang. "Saya meminta dengan hormat kepada bapak presiden, PDIP perjuangan harus masuk kabinet dengan jumlah menteri terbanyak," ujar Megawati.

Megawati emoh jika hanya diberi jatah empat menteri sebagai partai pengusung utama. "Jangan nanti (Jokowi) bilang, Ibu Mega, saya kira karena PDIP sudah banyak, di DPR juga sudah, PDIP empat aja. Wah, hee emoh, tidak mau, tidak mau, tidak mau," ujar Megawati bersorak.

DEWI NURITA

Artikel Asli</p>
      </div>
    </div>
  </div>
</div>

<div class="comment-btn">
<button type="button" class="btn btn-outline-secondary mt-3 mx-5" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">KOMENTAR</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Masukkan Komentar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_tag("/komentar", action:"post") do %>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nama :</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email :</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="your@email.com">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Komentar :</label>
                <textarea class="form-control" name="komentar" id="message-text"></textarea>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Kirim</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
