<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2" style="border: 1;">
      1 of 3b
    </div>
    <div class="col" style="border: 1;">
      3 of 3b
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2" style="border: 1;">
      1 of 3b
    </div>
    <div class="col">
      <table class="table table-responsive table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">BODY</th>
            <th scope="col">FOTO</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">article.id</th>
            <td>article.title</td>
            <td>article.body</td>
            <td>article.foto</td>
            <td>status</td>
            <td>
              <button type="button" class="btn btn-outline-primary">Set Headline</button>
              <button type="button" class="btn btn-outline-secondary">Set Subheadline</button>
              <button type="button" class="btn btn-success">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
